@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor hca
@{
	string userEmail = hca.HttpContext?.Session.GetString("userEmail") ?? "Guest";
	int userId = hca.HttpContext?.Session.GetInt32("userId") ?? 0;
}

<!DOCTYPE html>

<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	@* <meta name="viewport" content="width=device-width" /> *@
	@* <title>@ViewData["Title"] - project_itasty</title> *@
	<title>ITASTY | Perfect Receipe Await</title>
	<link rel="icon" href="../img/logo_.png">
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/global.css">
	<script src="~/js/global.js"></script>
	@RenderSection("MyHeadScripts", required: false)


</head>
<body>
	<!-- 下面是header---------------------------------------------------------------------------- -->
	<header class="row gx-0">
		<div class="header-first d-lg-flex d-sm-none" style="display:flex">
			<div class="header-left row gx-0">
				<div class="header-left-img">
					<a href="~/" class="d-block"></a>

				</div>
				<a href="~/Research/Index"><span id="all-receipe">所有食譜 </span></a>
				@{
					if (userId != 0)
					{
						<a href="~/Folder/favoriteFolder"><span id="my-receipe">我的食譜</span></a>
						<a href="~/user/@(userEmail.Split('@')[0])"><span id="my-page">我的頁面</span></a>
					}
					else
					{
						<a href="/UserRegister/Create"><span id="my-receipe">我的食譜</span></a>
						<a href="/UserRegister/Create"><span id="my-page">我的頁面</span></a>
					}
				}
			</div>
			<div class="header-middle row gx-0">
			</div>
			<div class="header-right row gx-0">
				<div class="loginsignbtn">
				</div>
				<div class="spacebar">
				</div>
				<div class="shoppingcart">
					<a href="~/user/@(userEmail.Split('@')[0] )" style="color:black;text-decoration: none;">會員</a>
				</div>
				<div class="profile">
					<a href="~/HelpForms/Create" style="color:black;text-decoration: none;">客服</a>
				</div>
			</div>
		</div>
		<div class="header-second d-lg-none" style="display:flex">
			<div class="nav-left">
				<div class="bar1"></div>
				<div class="bar2"></div>
				<div class="bar3"></div>
				<div class="left-title">
					<p id="all-receipe" class="left-title-bar"><a href="~/Research/Index">所有食譜</a></p>
					<p class="bababa"></p>
					@{
						if (userId != 0)
						{
							<p id="my-receipe" class="left-title-bar"><a href="~/Folder/favoriteFolder">我的食譜</a></p>
							<p class="bababa"></p>
							<p id="my-page" class="left-title-bar"><a href="~/user/@(userEmail.Split('@')[0])">我的頁面</a></p>
						}
						else
						{
							<p id="my-receipe" class="left-title-bar"><a href="/UserRegister/Create">我的食譜</a></p>
							<p class="bababa"></p>
							<p id="my-page" class="left-title-bar"><a href="/UserRegister/Create">我的頁面</a></p>
						}
					}
				</div>
			</div>
			<div class="nav-middle">
				<div class="nav-middle-img"></div>
			</div>
			<div class="nav-right">
				<i class="fa-regular fa-user fa-2x nav-profile-icon"></i>
				<div class="right-title">
					<p class="loginsignbtn right-title-bar">
					</p>
					<p class="bababa"></p>
					<p class="shoppingcart right-title-bar">
						<a href="~/user/@(userEmail.Split('@')[0])" style="color:black;text-decoration: none;">會員</a>
						
					</p>
					<p class="bababa"></p>
					<p class="profile right-title-bar">
						<a href="~/HelpForms/Create" style="color:black;text-decoration: none;">客服</a>
					</p>
				</div>
			</div>
		</div>
	</header>

	<!-- 自訂container -->
	@RenderBody()

	<!-- 下面是footer的---------------------------------------------------------------------------- -->
	<footer class="footer-class row gx-0">
		<div class="footer-header col-12 row gx-0">
			KEEP IN TOUCH WITH OUR WEBSITE
		</div>
		<div class="footer-link col-xl-3 col-4">
			<div class="link-label">
				首頁
			</div>
			<ul>
				<li><a href="~/UserRegister/Create">會員登入頁</a></li>
				<li><a href="~/UserRegister/Create">會員註冊頁</a></li>
				<li><a href="~/HelpForms/Create">客戶服務頁</a></li>
			</ul>
		</div>
		<div class="footer-link col-xl-3 col-4">
			<div class="link-label">
				頁籤
			</div>
			<ul>
				<li><a href="~/Research/Index">所有食譜</a></li>
				@{
					if (userId != 0)
					{
						<li><a href="~/Folder/favoriteFolder">我的食譜</a></li>
						<li><a href="~/user/@(userEmail.Split('@')[0])">我的頁面</a></li>
					}
					else
					{
						<li><a href="/UserRegister/Create">我的食譜</a></li>
						<li><a href="/UserRegister/Create">我的頁面</a></li>
					}
				}
			</ul>
		</div>
		<div class="footer-link col-xl-3 col-4">
			<div class="link-label">
				頁籤
			</div>
			<ul>
				<li><a href="~/Research/Index">所有食譜</a></li>
				@{
					if (userId != 0)
					{
						<li><a href="~/Folder/favoriteFolder">我的食譜</a></li>
						<li><a href="~/user/@(userEmail.Split('@')[0])">我的頁面</a></li>
					}
					else
					{
						<li><a href="/UserRegister/Create">我的食譜</a></li>
						<li><a href="/UserRegister/Create">我的頁面</a></li>
					}
				}
			</ul>
		</div>
		<div class="footer-logo col-xl-3 d-xl-block d-sm-none"></div>
		<div class="footer-space"></div>
		<div class="footer-footer">
			© 2024 - 2024 ITASTY | Perfect Receipe Await. All Rights Reserved.
		</div>

	</footer>
	@await RenderSectionAsync("MyScripts", required: false)

	<script>
		sessionStorage.setItem("userEmail", "@userEmail");
		sessionStorage.setItem("userId", @userId);
	</script>
</body>
</html>
