
.search_img {
    background-image: url(../img/search.png);
    background-size:cover;
    background-position:center;
    width: 100%;
    height: 400px;
}

:root {
    --blue: #9ab3f5;
    --purple: #9a1663;
    --white: #ffffff;
    --color: #a53f2b;
    --shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;

}

.search_bar {
    display: flex;
    align-items: center;
    min-width: 700px;
    border-radius: 50px;
    height:40px;
    background-color: var(--white);

}

.dropdown {
    position: relative;
    width: 150px;
    border-radius: 50px;
    border: 1px solid var(--white);
    background-color: var(--color);
    box-shadow: var(--shadow);
    cursor: pointer;
    height:50px;
}

.dropdown_text {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    font-weight: 500;
    color: var(--white);
    padding: 1rem 1.5rem;
    height:40px;
}

.dropdown_list {
    position: absolute;
    top: 3rem;
    left: 0;
    width: 100%;
    border-radius: 15px;
    max-height: 0;
    overflow: hidden;
    background-color: var(--white);
    transition: max-height 0.5s;
}

#list.show {
    max-height: 0;

}

.dropdown_list_item {
    list-style-type: none;
    font-size: 0.9rem;
    font-weight: 500;
    padding: 1rem 0.1rem 1rem;
    cursor: pointer;

    transition: margin-left 0.2s ease, color .2s ease;
}

.dropdown_list_item:hover {
    margin-left: 0.5rem;
    color: var(--color);
}

.search_box {
    display: flex;
    align-items: center;
    padding-right: 1rem;
    width: 100%;
    color: var(--color);
    
}

.search_box input {
    padding: 0;
    width: 100%;
    font-size: 14px;
    font-weight: 500;
    color: var(--color);
    border: 0;
    outline: 0;
   
}

.search_box i {
    font-size: 1.3rem;
    cursor: pointer;
    color: var(--color);
}

.search_box input::placeholder {
    font-size: 1rem;
    font-weight: 500;
    color: var(--color);
}

/* 內容區 */

.carousel_img {
    object-fit: contain;
    width: 100%;
}
.Season_Recipelist{
    justify-content:center;
    padding: 12px;
    
}
#Recipelist_con{
    padding: 0;
    padding-top: 30px;
    position: relative;
    
}
/* 輪播 */
 .hidden{
    display: none;
 }
 /*熱門 */
 .season_container,.Popular_container,.news_container{
    padding-top: 30px;
    padding-bottom: 30px;
 }
 .card{
    border-radius:0;
 }
 .card-img-top{
    border-radius:0;
 }
 /* 輪播物件*/
.carousel_img {
    position: relative;
   
 
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

    .carousel_img:hover .carousel_text {
        bottom: 0;
        opacity: 1;
    }

.carousel_text {
    position: absolute;
    left: 0;
    bottom: -50px; /* 初始位置在容器底部之外 */
    width: 100%; /* 文字宽度覆盖整个容器 */
    font-size: 24px;
    color: white;
    background-color: rgba(0, 0, 0, 0.7); /* 黑色背景，70% 不透明度 */
    padding: 10px; /* 给文字添加一些内边距 */
    text-align: center; /* 文字居中 */
    opacity: 0;
    transition: bottom 0.5s ease, opacity 0.5s ease;
}
.Ingredients_carousel_text {
    position: absolute;
    left: 0;
    bottom: 0; /* 初始位置在容器底部之外 */
    width: 100%; /* 文字宽度覆盖整个容器 */
    font-size: 24px;
    color: white;
    background-color: rgba(0, 0, 0, 0.7); /* 黑色背景，70% 不透明度 */
    padding: 10px; /* 给文字添加一些内边距 */
    text-align: center; /* 文字居中 */
    opacity: 1;
    transition: bottom 0.5s ease, opacity 0.5s ease;
}