
.content_container{
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    position: relative;
    overflow: hidden;
    /* width: 768px; */
    max-width: 100%;
    min-height: 480px;
}

.content_container p{
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.3px;
    margin: 20px 0;
}

.content_container span{
    font-size: 12px;
}

.content_container a{
    color: #333;
    font-size: 13px;
    text-decoration: none;
    margin: 15px 0 10px;
}

.content_container button{
    background-color: #a53f2b;
    color: #fff;
    font-size: 12px;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
}

.content_container button.hidden{
    background-color: transparent;
    border-color: #fff;
}

.content_container form{
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    height: 100%;
}

.content_container input{
    background-color: #eee;
    border: none;
    margin: 8px 0;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 8px;
    width: 100%;
    outline: none;
}

.form_container{
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

.form_login{
    left: 0;
    width: 50%;
    z-index: 2;
}

.content_container.active .form_login{
    transform: translateX(100%);
}

.form_register{
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}

.content_container.active .form_register{
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: move 0.6s;
}

@keyframes move{
    0%, 49.99%{
        opacity: 0;
        z-index: 1;
    }
    50%, 100%{
        opacity: 1;
        z-index: 5;
    }
}


.toggle_container{
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: all 0.6s ease-in-out;
    border-radius: 150px 0 0 100px;
    z-index: 1000;
}

.content_container.active .toggle_container{
    transform: translateX(-100%);
    border-radius: 0 150px 100px 0;
}

.toggle{
    background-color: #a53f2b;
    height: 100%;
    background: linear-gradient(to right, #a53f2b, #280004);
    color: #fff;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.content_container.active .toggle{
    transform: translateX(50%);
}

.toggle_panel{
    position: absolute;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 30px;
    text-align: center;
    top: 0;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.toggle_left{
    transform: translateX(-200%);
}

.content_container.active .toggle_left{
    transform: translateX(0);
}

.toggle_right{
    right: 0;
    transform: translateX(0);
}

.content_container.active .toggle_right{
    transform: translateX(200%);
}
#login_container{
    margin-top: 250px;
    margin-bottom: 250px;

}
.login_btn {
    background-color: #a53f2b;
    color: #a53f2b;
}