@model project_itasty.Models.RecipeDetailsView
@{
}
@if (Model.UserFollowers.UnfollowDate == null)
{
	<form id="follow_submit" action="/RecipePage/Follow_author" method="post">
		<button id="follow_btn" type="submit" class="col-8 button_style unfollow_button">取消追蹤</button>
		<input type="hidden" name="author_id" value="@Model.AuthorId" />
	</form>
}
else
{
	<form id="follow_submit" action="/RecipePage/Follow_author" method="post">
		<button id="follow_btn" type="submit" class="col-8 button_style follow_button">我要追蹤</button>
		<input type="hidden" name="author_id" value="@Model.AuthorId" />
	</form>
}

